.contact-modal{
    height: 100vh;
    width: 980px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:rgb(26, 6, 46);
    background:rgb(26, 6, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.95;
    transition: opacity .3s linear;
    position: fixed;
    top: 0;
}
.hide-modal{
    opacity: 0;
    pointer-events: none;
    user-select: none;
    cursor: none;
    transition: opacity .3s linear;
  
}



.container {
	max-width:500px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact-form input[type="text"], 
#contact-form input[type="email"], 
 #contact-form textarea, 
 #contact-submit{
     font:400 12px/16px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contact-form {
	background:#F9F9F9;
	padding:25px;
    margin:50px 0;
    position: relative;
}

#contact-form h3 {
	color: rgb(26, 6, 46);
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
    width: 100%;
    position: relative;

}

#contact-form input[type="text"], 
#contact-form input[type="email"], 
#contact-form input[type="url"], 
#contact-form textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}


#contact-form textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact-submit {
	cursor:pointer;
	width:100%;
	border:none;
	background:rgb(26, 6, 46);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact-submit:hover {
	background:rgb(6, 20, 20);
	transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact-submit:active { 
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}

#contact-form input:focus, #contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
placeholder {
 color: rgb(6, 20, 20);
 font-weight: bolder;
}


#contact-form input[type="text"], 
#contact-form input[type="email"], 
#contact-form input[type="tel"]{
    padding-top: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    background:none;
}



#close-btn{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 26px;
    color: red;
    padding: 5px;
    font-weight: 600;
    transition: font-size .2s linear;
    cursor: pointer;
    user-select: none;
}
#close-btn:hover{
    transition: font-size .2s linear;
    font-size: 29px;
}
#close-btn:active{
    color: green;
}

.contact-modal-open-btn{
    position: relative;
    top: -1040px;
    left: 200px;
    padding: 8px;
    text-align: center;
    margin:0 820px 0 0;
    background: rgb(26, 6, 46);
    font-size: 12px;
    cursor: pointer;
    color: #fffffffb;
    box-shadow: 1px 1px 5px rgba(202, 186, 186, 0.24), -1px -1px 5px rgba(0, 0, 0, 0.24);
}
.contact-modal-open-btn:hover{
    background: rgb(6, 20, 20);
}